.container {
  background-color: rgba(0, 64, 71, 1);
  margin-bottom: 100px;

  .col-4 {
    transition: 0.4s ease;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 64px;
  }
  .box {
    padding: 35px 24px 28px;
    background-color: rgba(1, 47, 52, 1);
    transition: 0.3s ease;

    .box-1 {
      padding: 0px 24px 28px 24px;
    }
    img {
      margin-left: 110px;
      padding-bottom: 13px;
      transition: 0.3s ease;
    }
    h3 {
      color: rgba(121, 200, 199, 1);
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      margin: 0;
    }
    p {
      color: #fff;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      margin: 0;
    }
  }
  .plus {
    width: 56px;
    height: 56px;
    background-color: rgba(246, 126, 126, 1);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -30px;
    transition: 0.3s ease;
    img {
      transition: 0.3s ease;
    }
  }
}
.col-4:hover {
  .box {
    background-color: rgba(0, 37, 41, 1);
    img {
      display: none;
    }
    .primary {
      display: none;
    }
    .text,
    .icon img {
      display: inline-block;
    }
  }

  .plus {
    background-color: rgba(121, 200, 199, 1);
    padding: 20px;

    img {
      transform: rotate(45deg);
    }
  }
}
.icon {
  margin-left: 15px;
  img {
    padding: 0 !important;
    margin-right: 16px;
    margin-left: 0 !important;
    padding-top: 24px !important;
    display: none;
  }
}

.text {
  display: none;
}
